<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.health.manager.app" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.example.health.manager.app.StartApp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.health.manager.app.breakfastMainActivity"
            android:label="@string/breakfast" >
        </activity>
        <activity
            android:name="com.example.health.manager.app.lunchMainActivity"
            android:label="@string/lunch" >
        </activity>
        <activity
            android:name="com.example.health.manager.app.snackMainActivity"
            android:label="@string/snack" >
        </activity>
        <activity
            android:name="com.example.health.manager.app.dinnerMainActivity"
            android:label="@string/dinner" >
        </activity>
        <activity
            android:name="com.example.health.manager.app.nou"
            android:label="@string/title_activity_nou" >
        </activity>
        <activity
            android:name="com.example.health.manager.app.llistaproductes"
            android:label="@string/title_activity_llistaproductes" >
        </activity>
        <activity
            android:name="com.example.health.manager.app.PortionActivity"
            android:label="@string/title_activity_quantity" >
        </activity>
        <activity
            android:name="com.example.health.manager.app.FoodInfoActivity"
            android:label="@string/title_activity_informacio_aliment" >
        </activity>
    </application>

    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

</manifest>
